<ul class="nav navbar-nav">
	
	<!--
	<li class="navbar-text">
		<span data-translate=""
		data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">
		versionDetails</span>
	</li>
	-->
	<li>
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoportal/" target="_blank">
			<span class="fa fa-fw fa-info"></span>
			<span data-translate="">Geoportal Berlin</span>
		</a>
	</li>
	<!-- TODO: Hilfeseiten erstellen und verlinken
	<li class="hidden-sm">
		<a href="http://fb30:81/gdibe-wiki/index.php?title=Geonetwork:FAQ" target="_blank">
			<span class="fa fa-fw fa-question"></span>
			<span data-translate="">Hilfe</span>
		</a>
	</li>
	-->
	<li class="hidden-sm">
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoportal/geoportal-daten-und-dienste/datenschutz/" target="_blank">
			<span class="fa fa-fw fa-shield"></span>
			<span data-translate="">Datenschutz</span>
		</a>
	</li>
	<li class="hidden-sm">
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoportal/geoportal-daten-und-dienste/barrierefreiheitserklaerung/" target="_blank">
			<span class="fa fa-fw fa-arrow-circle-o-up"></span>
			<span data-translate="">Barrierefreiheit</span>
		</a>
	</li>
	<li class="hidden-sm">
		<a href="mailto:fisbroker@senstadt.berlin.de?subject=Geodatensuche">
			<span class="fa fa-fw fa-envelope"></span>
			<span data-translate="">Kontakt</span>
		</a>
	</li>
	<li class="hidden-sm">
		<a href="https://www.berlin.de/sen/sbw/ueber-uns/artikel.1246136.php" target="_blank">
			<span class="fa fa-fw fa-university"></span>
			<span data-translate="">Impressum</span>
		</a>
	</li>
	<!--<li class="hidden-sm">
		<a href="https://github.com/geonetwork/core-geonetwork">
			<span class="fa fa-fw fa-github"></span>
			<span data-translate="">github</span>
		</a>
	</li>-->
	<!--<li>
		<a href="../../doc/api" title="{{'learnTheApi' | translate}}">
		<span class="fa fa-fw fa-cog"></span>
		<span data-translate="">API</span>
		</a>
	</li>-->
	<li gn-static-pages-list-viewer data-section="footer" data-language="{{lang}}" />
</ul>

<ul class="nav navbar-nav" ng-show="getSocialLinksVisible()">
  <li class="navbar-text">
    <span data-translate="">shareOn</span>
  </li>
  <li>
    <a href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareOnTwitter' | translate}}"
       aria-label="{{'shareOnTwitter' | translate}}">
       <span class="fa fa-twitter"></span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareOnFacebook' | translate}}"
       aria-label="{{'shareOnFacebook' | translate}}">
       <span class="fa fa-facebook"></span>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareOnLinkedIn' | translate}}"
       aria-label="{{'shareOnLinkedIn' | translate}}">
      <span class="fa fa-linkedin"></span>
    </a>
  </li>
  <li>
    <a href="mailto:?subject={{info.site.name}}&amp;body={{socialMediaLink | encodeURIComponent}}"
       target="_blank"
       title="{{'shareByEmail' | translate}}"
       aria-label="{{'shareByEmail' | translate}}">
       <span class="fa fa-envelope-o"></span>
    </a>
  </li>
  <li>
    <a href=""
       data-ng-click="getPermalink('', socialMediaLink)"
       title="{{'permalink' | translate}}"
       aria-label="{{'permalink' | translate}}">
      <span class="fa fa-fw fa-link"></span></a>
  </li>
  <li>
    <a href="rss.search?sortBy=changeDate&georss=simplepoint"
       title="{{'rssFeed' | translate}}"
       aria-label="{{'rssFeed' | translate}}">
      <span class="fa fa-rss"/>
    </a>
  </li>
</ul>
