<ul class="nav navbar-nav">
	<li>
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geodaten-berlin/" target="_blank">
			<span class="fa fa-fw fa-info"></span>
			<span data-translate="">Geodaten Berlin</span>
		</a>
	</li>
	
	<li>
		<a href="https://gdi.berlin.de/viewer/main" target="_blank">
			<span class="fa fa-fw fa-map"></span>
			<span data-translate="">Geoportal Berlin</span>
		</a>
	</li>
	
	<li>
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoinformation/geodateninfrastruktur/" target="_blank">
			<span class="fa fa-fw fa-globe"></span>
			<span data-translate="">Geodateninfrastruktur Berlin</span>
		</a>
	</li>
	<li class="hidden-sm">
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoportal/geoportal-daten-und-dienste/datenschutz/" target="_blank">
			<span class="fa fa-fw fa-shield"></span>
			<span data-translate="">Datenschutz</span>
		</a>
	</li>
	<li class="hidden-sm">
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geoportal/geoportal-daten-und-dienste/barrierefreiheitserklaerung/" target="_blank">
			<span class="fa fa-fw fa-wheelchair"></span>
			<span data-translate="">Barrierefreiheit</span>
		</a>
	</li>
	<li>
		<a href="mailto:geoportal@senstadt.berlin.de?subject=Geodatensuche">
			<span class="fa fa-fw fa-envelope"></span>
			<span data-translate="">Kontakt</span>
		</a>
	</li>
	<li>
		<a href="https://www.berlin.de/sen/sbw/ueber-uns/artikel.1246136.php" target="_blank">
			<span class="fa fa-fw fa-university"></span>
			<span data-translate="">Impressum</span>
		</a>
	</li>
	
	
	<li>
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geodaten-berlin/aktuelles-newsletter/" target="_blank">
			<span class="fa fa-fw fa-newspaper-o"></span>
			<span data-translate="">Aktuelles</span>
		</a>
	</li>
	
	<li>
		<a href="https://www.berlin.de/sen/sbw/stadtdaten/geodaten-berlin/rechtliche-hinweise/" target="_blank">
			<span class="fa fa-fw fa-gavel"></span>
			<span data-translate="">Rechtliche Hinweise</span>
		</a>
	</li>
	<li gn-static-pages-list-viewer data-section="footer" data-language="{{lang}}" />
</ul>
